* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 1.2rem;
	line-height: 2rem;
	background-color: #ebebeb;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
	font-family: "Times New Roman", Times, serif;
}
.grid {
	background: white;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		"start"
		"menu"
		"first"
		"second"
		"third"
		"button"
		"footer";
}
.grid2 {
	background: white;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		"contactheader"
		"menu"
		"contact"
		"map"
		"footer";
}
.grid div {
	min-height: 100px;
}
.start {
	grid-area: start;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.contactheader {
	grid-area: contactheader;
}
.startheader {
	font-weight: bold;
	grid-row: 1 / 3;
	background-color: #c7ddea;
	padding: 100px 100px 40px 100px;
	padding-bottom: 300px;
	background-image: url("img/family.png");
	background-size: 430px;
	background-repeat: no-repeat;
	background-position: bottom right;
}
.startheader h1 {
	font-weight: 900;
}
.startheader h1,
.learnmore h2,
.startinfo h2 {
	font-size: 3.8rem;
	line-height: 3.5rem;
	letter-spacing: -3px;
}
.learnmore,
.startinfo {
	text-decoration: none;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
	display: grid;
	align-items: center;
	text-align: center;
}

.learnmore:hover h2,
.startinfo:hover h2 {
	text-decoration: underline;
}
.learnmore h2,
.startinfo h2 {
	color: white;
}
.startheader p {
	color: rgba(0, 0, 0, 0.5);
	margin-top: 20px;
	margin-bottom: 60px;
}
.startheader span {
	color: white;
	font-weight: 600;
}
.learnmore {
	background: #f17949;
}

.startinfo {
	background: #fab131;
}
.menu {
	grid-area: menu;
	background: white;
}

.menu ul {
	display: flex;
	max-width: 80%;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	list-style: none;
}
.menu ul li {
	width: 25%;
	float: left;
}
.menu ul li a {
	text-align: center;
	height: 100px;
	display: grid;
	align-items: center;
	color: #9a9a9a;
	text-decoration: none;
	font-weight: bold;
}
.menu ul li a:hover {
	color: black;
	text-decoration: underline;
}
.menu .active {
	color: black;
}
button {
	border: none;
	position: relative;
	border-radius: 5rem;
	background-color: white;
	text-transform: uppercase;
	font-weight: 800;
	padding: 16px 60px;
	transition: top 0.4s ease-in-out;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

button:hover {
	top: -5px;
	cursor: pointer;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.25);
}

.first {
	padding: 100px;
	height: 820px;
	position: relative;
	grid-area: first;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #a9a19e;
}

.first .cards {
	position: absolute;
	left: 50%;
	transform: translateX(-54%);
	top: 360px;
	width: calc(100% - 100px);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column: 1 / 4;
	justify-content: space-between;
	gap: 20px;
	margin-top: 180px;
}

.first .card {
	text-align: center;
	background: white;
	border-radius: 8px;
}

.first .image {
	height: 250px;
	overflow: hidden;
	margin: 20px;
	border-radius: 8px;
	position: relative;
	top: -80px;
}

.card:nth-child(1) .image {
	background-color: #c7ddea;
}
.card:nth-child(2) .image {
	background-color: #fab131;
}
.card:nth-child(3) .image {
	background-color: #f17949;
}
.first .card img {
	width: 42%;
	padding-top: 30px;
}
.card:nth-child(3) img {
	width: 58%;
}
.card div:nth-child(2) {
	position: relative;
	top: -70px;
}
.card h3 {
	font-size: 2rem;
}
.card p {
	font-weight: normal !important;
	padding: 0 !important;
	padding: 20px 40px !important;
}
.first h1 {
	font-size: 5rem;
	line-height: 4rem;
	color: white;
	margin-bottom: 50px;
}
.first p {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
	padding-left: 100px;
	padding-right: 100px;
}
.second {
	padding: 100px;
	padding-top: 390px;
	text-align: center;
	grid-area: second;
	background-color: #fab131;
}
.second h2 {
	margin-bottom: 60px;
	font-size: 4rem;
	color: white;
}
.second p {
	color: rgba(0, 0, 0, 0.5);
	font-weight: bold;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}

.third {
	grid-area: third;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.6);
}

.third div {
	padding: 40px;
}
.third div:nth-child(1) {
	color: black;
}

.btn-goup {
	background-color: #a9a19e;
	text-align: center;
	grid-area: button;
	line-height: 5rem;
	height: 5rem;
	font-weight: bold;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.6);
}
.btn-goup:hover {
	color: black;
	background-color: #94857f;
	text-decoration: underline;
}

.third div {
	display: grid;
	position: relative;
	text-align: center;
	align-items: center;
	align-self: center;
	height: 300px;
}

.thirdstart {
	background-color: #c7ddea;
}
.thirdstart h2 {
	font-size: 3.8rem;
	line-height: 3.5rem;
	letter-spacing: -3px;
}
.third span {
	font-family: "Times New Roman", Times, serif;
	color: rgba(0, 0, 0, 0.5);
	font-weight: bold;
	position: absolute;
	top: 40px;
	left: 40px;
	font-size: 38px;
}

.third div:nth-child(3) {
	background-color: #ebebeb;
}

.third div:nth-child(5) {
	background-color: #f17949;
}

.contactheader {
	height: 350px;
	background-color: #c7ddea;
	background-image: url("img/man-baby.png");
	background-repeat: no-repeat;
	background-position: bottom right;
}

.contactheader h1 {
	font-size: 64px;
	text-align: center;
	height: 350px;
	align-items: center;
	display: flex;
	justify-content: center;
}

.contact {
	gap: 40px;
	padding: 100px;
	background-color: #a9a19e;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contact h1 {
	line-height: 3.8rem;
	font-size: 4rem;
	color: white;
}

.contact label {
	color: white;
	font-weight: bolder;
	margin-bottom: 8px;
}
.contact input,
.contact textarea {
	color: black;
	font-size: 1.2rem;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 20px;
	padding: 20px;
	border: none;
	width: 100%;
	border-radius: 3px;
}

.contact button {
	float: right;
}

.map {
	background-image: url("img/map.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px;
	padding-bottom: 300px;
}

.visit {
	padding: 60px 40px;
	color: white;
	background-color: #fab131;
	width: 500px;
	height: 300px;
}

.visit h2 {
	font-size: 4rem;
	margin-bottom: 20px;
}

footer {
	padding: 100px;
	grid-area: footer;
	background-color: #777574;
}

footer ul {
	float: left;
	width: 300px;
	list-style: none;
}

footer a {
	display: block;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

footer a:hover {
	color: white;
	text-decoration: underline;
}

footer p {
	clear: both;
	float: none;
	top: 40px;
	position: relative;
	font-size: 0.8rem;
	text-align: center;
	color: rgba(255, 255, 255, 0.4);
}
